# Salida del build de Jekyll
_site/
.jekyll-cache/
.jekyll-metadata

# Estado de Bundler
.bundle/
vendor/

# Caché de Sass
.sass-cache/

# Editores
.idea/
.vscode/
*.swp
*.swo
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/
**/.ipynb_checkpoints/

# Python
__pycache__/
**/__pycache__/
